body{
    font-family: 'Playfair Display', serif; 
    color:grey;
    font-style: bolder;
}
#submitButton{
    background-color: rgb(123, 5, 50);
    color: grey;
}
label{
    color:black;
}
.row{
    margin: 10px;
}